// .mantine-AppShell-main {
//   background-color: $white;
// }

.content {
    position: relative !important;
    background-color: white !important;
    min-height: calc(100% - $header-height - $footer-height + 3 * $content-gutter)
}
