.header {
  @include flexbox-horizontal;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 200px;

    @include breakpoint-down("tablet") {
      width: 230px;
    }
    @include breakpoint-down("phone") {
      width: 180px;
    }

    @include breakpoint-down("extra-smallphone") {
      width: 150px;
    }
  }

  &__user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    @include breakpoint-down("extra-smallphone") {
      padding: 0px;
    }

    &__name {
      @include flexbox-vertical;
      @include breakpoint-down("phone") {
        display: none;
      }
      .full-name {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        color: $picker-bluewood;
      }

      .email {
        font-size: $font-size-small;
        color: rgba($picker-bluewood, 0.5);
      }
    }
  }
}
