
:root {
    --white: #fff;
}
$white: #fff;
$black: #000;
$orange: #ff6b00;
$watermelon: #F6415E;
$bashful-pink: #C5458C;
$dark-lavender:#7E5498;
$duck:#415481;
$picker-bluewood:#2F4858;


$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;